.details{
    display: flex;
}

.image{
    width: 200px;
}

.genres{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.genres__item:not(:last-child){
    margin-right: 15px;
}