.item {
    position: relative;
    max-width: 500px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    margin-top: 30px;
    list-style: none;
    transition: all 0.3s;
}

.item:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.item:hover .movie,
.link:focus .movie  {
    color: #EF6401;
}

@media screen and (min-width: 768px) {
    .item {
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .item {
        flex-basis: calc(100% / 4 - 30px);
    }
}

.link{
    display: inline-block;
    color: black;
}

.link:hover {
    color: black;
    text-decoration: none;
}

.link:focus {
    outline: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.image_wrapper{
    position: relative;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

.image_wrapper img {
    vertical-align: top;
    object-fit: cover;
    max-width: 100%;
    transition: all 0.3s;
}

@media screen and (min-width: 768px) {
    .image_wrapper img {
        height: 531px;
    }
}

@media screen and (min-width: 1200px) {
    .image_wrapper img {
        height: 405px;
    }
}

.item:hover img,
.link:focus img {
    border-radius: 4px 4px 0 0;
    transform: scale(1.1);
}

.description{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.title{
    font-size: 14px;
    margin-bottom: 5px;
    transition: all 0.3s;
}

@media screen and (min-width: 768px) {
    .title {
        /* Adding ... to long strings */
        width: 314px;
        white-space: nowrap;
        overflow: hidden;    
        text-overflow: ellipsis;
    }
}

@media screen and (min-width: 1200px) {
    .title {
        width: 230px;
    }
}

.genres{
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
    color: rgb(90, 90, 90);
}

.genres__item{
    font-size: 12px;
}

.info{
    font-size: 12px;
    color: rgb(90, 90, 90);
}

.rating{
    color: #EF6401;
    margin-right: 10px;
}