.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo:hover,
.logo:focus {
    text-decoration: none;
}

.text {
    display: none;
}

@media screen and (min-width: 768px) {
    .text {
        display: inline;
        margin-left: 10px;
        font-size: 26px;
        line-height: 0;
        color: black;
        transition: all 0.3s;
    }

    .logo:hover .text{
        color: #EF6401;
    }
}