.link{
    color: black;
    font-size: 18px;
    margin-left: 30px;
    transition: all 0.2s;
    position: relative;
    padding: 23px 0;
}

.link:hover{
    color: #EF6401;
    text-decoration: none;
}

.link__active{
    position: relative;
    color: #EF6401;
    font-size: 18px;
    margin-left: 30px;
    padding: 23px 0;
}

.link__active:hover {
    color: #EF6401;
    text-decoration: none;
}

.link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    background-color: #EF6401;
    height: 3px;
    border: 1px solid #EF6401;
    border-radius: 2px;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.link__active::after {
    transform-origin: bottom left;
    transform: scaleX(1);
    content: '';
    position: absolute;
    opacity: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EF6401;
    height: 3px;
    border: 1px solid #EF6401;
    border-radius: 2px;
}