.link{
    color: black;
    font-size: 18px;
}

.link:hover{
    color: red;
    text-decoration: none;
}

.link__active{
    color: red;
    font-size: 18px;
}

.link__active:hover {
    color: red;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .link {
        margin-right: 30px;
    }

    .link__active {
        margin-right: 30px;
    }
}