.link{
    color: black;
    font-size: 18px;
    margin-left: 30px;
    transition: all 0.2s;
}

.link:hover{
    color: #EF6401;
    text-decoration: none;
}

.link__active{
    color: #EF6401;
    font-size: 18px;
    margin-left: 30px;
}

.link__active:hover {
    color: #EF6401;
    text-decoration: none;
}